.input-group {
    margin-bottom: 0;

    &.ant-form-item-has-error {
        .ant-form-margin-offset {
            margin-bottom: 0 !important;
        }

        .ant-form-item-explain {
            margin-top: 3px;

            .ant-form-item-explain-error:nth-of-type(n+2) {
                display: none;
            }
        }
    }

    .ant-form-item-row {
        height: 5rem;
        margin-bottom: 5px;
        flex-direction: column;

        .ant-form-item-label {
            text-align: left;

            label {
                color: rgb(226 232 240/var(--tw-text-opacity));
                font-size: 18px;
                font-weight: 600;
            }
        }

        .input {
            padding: 6px 10px;

            input {
                width: 15rem;
                padding-left: 10px;
                font-size: 16px;
                line-height: 1.25rem;
                font-weight: 600;
            }
        }
    }
}

@media screen and (max-width: 720px) {
    .input-group .ant-form-item-row .ant-form-item-label {
        flex: unset;
    }
}

@media screen and (max-width: 375px) {
    .input-group .ant-form-item-row {
        display: block;
    }
}