.user-content:has(.blog-detail-container) {
  max-width: 100rem !important;
}

.arrow-left {
  svg {
    margin-bottom: 1px;
  }
}

.blog-detail-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(14, minmax(0, 1fr));

  .detail-content {
    grid-column: span 10 / span 10;

    .action-group a {
      font-weight: 700;
      color: rgb(226 232 240 / var(--tw-text-opacity));

      &:hover {
        color: rgb(255 255 255 / var(--tw-text-opacity));
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .blog-detail-container {
    display: block;
  }
}
