.title-container {
    font-family: Inter, sans-serif;

    h1 {
        font-family: Inter, sans-serif;
        font-size: 96px;
        line-height: 1em;
        color: rgb(241 245 249/var(--tw-text-opacity));
        word-spacing: normal;
        letter-spacing: normal;
        margin-bottom: 1rem;
        text-wrap: nowrap;
        font-display: swap;

        span {
            font-weight: 800;
            transition-duration: .2s;
            transition-property: all;
            transition-timing-function: cubic-bezier(.4, 0, .2, 1);
            display: inline-block;
            cursor: context-menu;

            &.color-red {
                color: #d35400;
            }

            &.mr-1 {
                margin-right: .8rem;
            }

            &:hover {
                color: rgb(34 211 238/var(--tw-text-opacity));
                --tw-translate-y: -8px;
                transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
            }
        }
    }

    .skill {
        text-align: center;

        .skill-item {
            position: absolute;
            inset: 0;
            opacity: 0;
            transition-property: opacity;
            transition-timing-function: cubic-bezier(.4, 0, .2, 1);
            transition-duration: 1s;
            display: flex;
            align-items: center;
            justify-content: center;

            &.active {
                opacity: 1;
            }
        }
    }

    p {
        font-size: 20px;
        color: rgb(203 213 225/var(--tw-text-opacity));
        font-weight: 400;
        font-family: Inter, sans-serif;
        margin-left: 10px;
        width: fit-content;
        border-radius: 5px;
        transition-duration: .2s;
        transition-property: all;
        transition-timing-function: cubic-bezier(.4, 0, .2, 1);

        &:hover {
            color: #f42a52;
            box-shadow: 0 1px 0 4px rgba(255, 56, 96, .1), inset 0 -2em 0 rgba(255, 56, 96, .1);
        }
    }

    .social {
        margin-top: 2.5rem;
    }

    .button {
        font-family: Inter, sans-serif;
        background-image: linear-gradient(to right, #6441A5 0%, #2a0845 51%, #6441A5 100%);
        margin: 10px;
        padding: 1rem 3rem;
        text-align: center;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        border-radius: 10px;
        height: unset;
        border: none;
        font-weight: 500;
        font-size: .875rem;
        line-height: 1.25rem;

        &:hover {
            background-position: right center;
            color: #fff;
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 1440px) {
    .home-container .title-container h1 {
        font-size: 92px;
    }
}

@media screen and (max-width: 992px) {
    .home-container .title-container h1 {
        font-size: 60px;
    }

    .title-container .skill .skill-item {
        width: 14rem;
        inset: unset;
    }

    .title-container .skill>div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .home-container .title-container h1 {
        font-size: 68px;
    }

    .title-container h1 span.mr-1 {
        margin-right: .5rem;
    }

    .home-container .title-container {
        display: flex;
        flex-direction: column;
    }

    .home-container .title-container .skill>div {
        height: 20rem;
        text-align: center;
        justify-content: center;
        display: flex;
        margin-top: 4rem;
    }

    .home-container .title-container .skill .skill-item {
        inset: unset;
        max-width: 280px;
        width: unset;
    }

    .home-container .max-width-md {
        max-width: 100%;
    }
}

@media screen and (max-width: 560px) {
    .home-container .title-container {
        align-items: unset;
    }

    .home-container .title-container h1 {
        font-size: 36px;
        line-height: 40px;
    }

    .title-container .button {
        padding: 1rem 1.25rem;
    }

    .home-container .title-container p {
        margin-left: 0;
        font-size: 16px;
    }

    .home-container .title-container .button {
        display: block;
        margin-left: 0;
        width: 100%;
    }
}