.sider-container {
    .logo {
        width: 50px;
        text-align: center;
        margin: 1rem auto;
    }

    .menu-item {
        font-size: 16px;

        .ant-menu-title-content {
            text-transform: capitalize;
        }
    }
}