.user-content:has(.blog-detail-container) {
  max-width: 100rem !important;
}

.arrow-left {
  svg {
    margin-bottom: 1px;
  }
}

.blog-detail-container {
  .detail-content {

    .action-group a {
      font-weight: 700;
      color: rgb(226 232 240 / var(--tw-text-opacity));

      &:hover {
        color: rgb(255 255 255 / var(--tw-text-opacity));
      }
    }
  }
}
