.user-content:has(.blog-detail-container) {
  max-width: 110rem !important;
}

.arrow-left {
  svg {
    margin-bottom: 1px;
  }
}

.blog-detail-container {
  .ant-col {
    padding: 16px;
  }

  .detail-content {

    .action-group a {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      font-weight: 700;
      color: rgb(226 232 240 / var(--tw-text-opacity));

      &:hover {
        color: rgb(255 255 255 / var(--tw-text-opacity));
      }

      span {
        font-weight: 700;

        &:nth-child(1) {
          height: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .w-100-sm {
    width: 100%;
  }

  .blog-detail-container .ant-col {
    padding: 16px 0;
  }
}