.button-skill {
    width: unset;
    height: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #f4c4f3 0%, #fc67fa 51%, #f4c4f3 100%);
    padding: 8px 28px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 3px #eee;
    border-radius: 10px;
    font-weight: bold;
    text-transform: capitalize;
    border: none;

    &.active {
        background-image: linear-gradient(to right, #ff00cc 0%, #333399 51%, #ff00cc 100%);
    }

    span {
        font-weight: bold;
    }

    &:hover,
    &:focus {
        background-position: right center;
        color: #fff !important;
        text-decoration: none;
    }
}

.blog-header {
    text-align: center;
    margin-bottom: 3rem;

    p {
        --tw-text-opacity: 1;
        color: rgb(148 163 184/var(--tw-text-opacity));
        font-weight: 600;
    }

    h1 span {
        --tw-text-opacity: 1;
        color: rgb(226 232 240/var(--tw-text-opacity));
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: bold;
    }
}

@media screen and (max-width: 720px) {
    .blog-header {
        margin-bottom: 2rem;

        h1 {
            margin-bottom: .1rem;
        }
    }
}